*.py
*.pyc
*.csproj.user
*.vcxproj.user
/**/bin/
/**/obj/
.vs
x64
*.diagsession
/StylingPlayground/packages
/release_packed/
/packages/
/docfx_project/**/DROP/
HtmlReport
coverage-tool-output
/docfx_project/_site/
/docfx_project/documentation/SIMULTAN.Lang/
/docfx_project/documentation/SIMULTAN.Plugins/
/docfx_project/documentation/SIMULTAN/