<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="local-packages" value="./localpackages" />
	</packageSources>
  <config>
    <add key="repositoryPath" value="%TEMP%/jenkins-nuget-packages" />
    <add key="globalPackagesFolder" value="%TEMP%/jenkins-nuget-packages" />
    <add key="dependencyVersion" value="Highest" />
  </config>
</configuration>